<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel ="stylesheet" href="style.css"/>

    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="charts.js"></script>
    <body>
        <div class="sidebar">
            <div class="idsname">
                <h1><span>IDS Dashboard</span> </h1>
            </div>
            <div class="sidebar_menu">
                <a href="home" class="active"><span class="las la-home"></span>
                <h3>Overview</h3></a>
                <a href="camera"><span class="las la-camera"></span>
                <h3>Camera</h3></a>
                <a href="clips"><span class="las la-chart-pie"></span>
                <h3>Clips</h3></a>
                <a href="snaps"><span class="las la-camera"></span>
                <h3>Snapshots</h3></a>
                <a href="reports"><span class="las la-flag"></span>
                <h3>Reports</h3></a>
                <a href="logs"><span class="las la-list"></span>
                <h3>Logs</h3></a>
            <h2><%=users[0].role%></h2>
                <a href="viewprofile"><span class="las la-user"></span>
                <h3>View Profile</h3></a>
            <% if (users[0].role == "Administrator" || users[0].role == "Main Administrator") { %>
                <a href="manageusers"><span class="las la-users"></span>
                <h3>Manage Users</h3></a>
                <a href="managecameras"><span class="las la-camera"></span>
                <h3>Manage Cameras</h3></a>
                <a href="audittrail"><span class="las la-tasks"></span>
                <h3>Audit Trail</h3></a>
            <% } %>

            
                <a href="logout"><span class="las la-sign-out-alt"></span>
                <h3>Logout</h3></a>
                     
        </div>
    </div>
    <div class="main_content">
        <header>
            
            <div class="search_wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here"/>
            </div>
            <div class="user_wrapper">
                <h4><%=users[0].username%></span></h4><span><%=users[0].position%></span>
            </div>
        </header>
        <main>
            <div class="card_first">
                <div class ="card_single">
                    <div>
                        <h1>3/3</h1>
                        <span>Active Cameras</span>
                        <a href="camera">View cameras</a>
                    </div>
                </div>

                <div class ="card_single">
                    <div>
                        <h1><%=pendingrev[0].ctnotrev  %> </h1>
                        <span>Pendings Reviews</span>
                        <a href="clips">Review Now</a>
                    </div>
                </div>
                <div class ="card_single">
                    <div>
                        <h1>10  30  20</h1>
                        <h4>Monthly Weekly Daily</h4>
                        <span>Reports as of Time</span>
                    </div>
                </div>
                <div class ="card_single">
                    <div>
                        <h1><%= logs[0].num  %> </h1>
                        <span>Recent Activities for today</span>
                        <a href="logs">View logs</a>
                    </div>
                </div>

                 
            </div>
            <div class="card_graph">
                <!-- Graphs -->
                <div class="line_card">
                    <h1>Alert Activity</h1>

                    <!-- ihiwalay pa un java script to charts.js -->
                    <canvas id="lineChart" style="width:100%;max-width:600px"></canvas>
                    <button id ="save_btn">Save Line Chart</button>

                    <script src="linecharts.js"></script>
                       
                        
                </div>
                <div class="pie_card">
                    <h1>Report Remarks</h1>

                    <!-- ihiwalay pa un java script to charts.js -->
                    <canvas id="pieChart" style="width:100%;max-width:600px"></canvas>
                    <script src="piecharts.js"></script>
                   
                </div>
            </div>
            <div class="preview_card">
                <div class="clip_card">
                    <h1>Recent Clips</h1>
                    <a href=clips>See more</a>
                    <div class="cliptable">
                        <table>
                            <thead>
                              <tr>
                                  <th>Date</th>
                                  <th>No. of Clips</th>
                                  <th>Status</th>
                                  <th>Remarks</th>
                              </tr>
                            </thead>
                        
                            <% for(var i=0; i < clips.length; i++) { %>
                                <tr>  
                                    <td><%= clips[i].date.getFullYear()%>-<%= clips[i].date.getMonth()+1%>-<%= clips[i].date.getDate()%></td>
                                    <td><%= clips[i].no_of_clips %></td>
                                    <td class ="<%= clips[i].status[0]%>"><div class="rectangle"><%= clips[i].status%></div></td>
                                    <td><%= clips[i].remarks %></td>
                                </tr>  
                                <% } %>
                              
                          </table>

                    </div>
                </div>
                <div class="clip_card">
                    <h1>Recent Reports</h1>
                    <a href=reports>See more</a>
                    <div class="cliptable">
                    <table>
                        <thead>
                          <tr>
                              <th>Date</th>
                              <th>No. of Reports</th>
                          </tr>
                        </thead>
                    
                        <tbody>
                    <% for(var i=0; i < report.length; i++) { %>
                        <tr>  
                            <td><%= report[i].datetime.getFullYear() %>-<%= report[i].datetime.getMonth()+1 %>-<%= report[i].datetime.getDate()%></td>
                            <td><%= report[i].no_of_reports %></td>
                        </tr>
                        <% } %>
                    </tbody>
                  
                    </table>
                </div>
            </div>
            </div>
        </main>
    </div>
    </body>
</html>