<html>
    <head>
        <title>Logs</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel ="stylesheet" href="style.css">

    </head>

    <body>
        <div class="sidebar">
            <div class="idsname">
                <h1><span>IDS Dashboard</span> </h1>
            </div>
            <div class="sidebar_menu">
                <a href="home" ><span class="las la-home"></span>
                    <h3>Overview</h3></a>
                    <a href="camera"><span class="las la-camera"></span>
                    <h3>Camera</h3></a>
                    <a href="clips"><span class="las la-chart-pie"></span>
                    <h3>Clips</h3></a>
                    <a href="snaps"><span class="las la-camera"></span>
                    <h3>Snapshots</h3></a>
                    <a href="reports"><span class="las la-flag"></span>
                    <h3>Reports</h3></a>
                    <a href="logs" class="active"><span class="las la-list"></span>
                    <h3>Logs</h3></a>
                    <a href="logout"><span class="las la-sign-out-alt"></span>
                    <h3>Logout</h3></a>
                 

        </div>
    </div>
    <div class="main_content">
        <header>
            <div class="search_wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here"/>
            </div>
            <div class="user_wrapper">
                 <h4>Admin </h4><span>Administrator</span>
            </div>
        </header>
        <main>
            <div class="viewboxcont">
                <div class="viewbox">
                    <h2>
                        Logs
                    </h2>
                   <hr class="title">
                    <!-- <div class="date_search">
                        <input type="text"placeholder="Year" length="200ch"/>
                        <input type="text"placeholder="Month" width="150px"/>
                        <input type="text"placeholder="Day" width="150px"/>
                    </div> -->
                    <div class="log_dates">
                        Dates
                        <hr name="title">
                        <div class="row">
						<table class="column">
						<tbody>
						<% for(var i=0; i < data.length; i++) { %>
							<tr>
                             <td><%= data[i].date.getFullYear() %>-<%= data[i].date.getMonth()+1 %>-<%= data[i].date.getDate()%></td>
                             <td> <form action='/logview' method="post">
                                    <input type="hidden" name = "logdate" value = "<%= data[i].date.getFullYear() %>-<%= data[i].date.getMonth()+1 %>-<%= data[i].date.getDate()%>"/>
                                        <input name="button" type="submit" value=">"/>
                                </form>
                                </td>  
                               
							</tr>
						
							<% } %>
                            
							</tbody>
						</table>
							
                        </div>
                    </div>
                </div>
            </div>
            
        </main>

       
    
    </div>
   
    




    </body>
</html>